:root {
  --white: #ffffff;
  --active: #2196f3;
  --black: #000000;
  --primary-text: #212121;
  --secondary-text: #757575;
  --gray-bgc: #f5f4fa;
  --mailito: rgba(255, 255, 255, 0.6);
  --ftr-bcg: #2f303a;
  --social-icon: #AFB1B8;
  --function-animation: cubic-bezier(0.4, 0, 0.2, 1);
}

/* цвет основного текста 212121 */
/* вторичный цвет текста 757575 */
/* цвет логотипа 000000; 2196F3 */
/* белый цвет FFFFFF */
/* цвет адреса FFFFFF 0.6 */
/* background color E5E5E5 */
/* background header FFFFFF */
/* second background color F5F4FA */
/* background footer 2F303A */


html {
  box-sizing: border-box;
}

*,
*::after,
*::befor {
  box-sizing: inherit;
}
body {
  color: var(--primary-text);
  background-color: var(--white);
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
}

/* убирает маркеры*/
.list {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

/* убирает подчеркивание*/
a {
  text-decoration: none;
}
img, svg {
  display: block;
  width: 100%;
  height: auto;

}
/* хедер*/

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.flexbox {
  display: flex;
  flex-wrap: wrap;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.page-header .flexbox {
align-items: center;
justify-content: flex-end;
}
 

/* лого */

.logo {
  margin-right: 93px;
}

.logo > span {
  padding-top: 25px;
  padding-bottom: 25px;
  color: var(--active);
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.logo {
  padding-top: 25px;
  padding-bottom: 25px;
  color: var(--black);
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}


/* site-nav */
.site-nav .current {
  color: var(--active)
}

.site-nav {
  display: flex;
}
.site-nav-item:not(:last-child) {
  margin-right: 50px;
}

.navigation {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.site-nav .link { 
  display: block;
  padding-top: 25px;
  padding-bottom: 25px;
  color: var(--primary-text);
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--active);
}

.site-nav .link.current {
  color: var(--active);
}

.site-nav-link .link{
  position: relative;
}
.site-nav-link{
  position: relative;
}
.current:after {
  content:"";
  position: absolute;
  left: 0;
  bottom: -8px;
  width: 100%;
  height: 4px;
  background-color: var(--active);
  border-radius: 2px;

}


/*адрес в хедере*/

.contacts-icon{
  fill: var(--secondary-text);
  margin-right: 10px;
 }

 .link-contacts {
   display: flex;
   align-items: center;
 }

.auth-nav {
  display: flex;
}

.auth-nav .link-contacts {
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--secondary-text);
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-contacts:hover, 
.link-contacts:focus {
  color: var(--active);
  
}

.link-contacts:hover .contacts-icon {
  fill: var(--active);
}


 .contacts:not(:last-child) {
  margin-right: 50px;
}

.line {
  border-bottom: 1px solid #ECECEC;
  flex-grow: 1;
}

  

/*герой*/

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
height: 600px;
max-width: 1600px;
margin-right: auto;
margin-left: auto;
background-image: linear-gradient( to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4) ), url(../img/bgi.jpg);
background-size: cover;
background-repeat: no-repeat;
background-position: center;
}

.hero .hero-box {
  text-align: center;
}

.hero-title {
  margin-top: 0px;
  margin-bottom: 30px;
color: var(--white);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;
 letter-spacing: 0.06em;
}

/* button*/
.primary-button {
  display: inline-block;
  text-align: center;
  border-color: var(--active);
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  border: 1px solid transparent;
  color: var(--white);
  background-color: var(--active);
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
color: var(--white);
  transition: background-color 250ms var(--function-animation);
}

  .hero .primary-button:hover,
  .hero .primary-button:focus {
    background-color: var(--active);
    color: var(--white);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

 }

/*секция преимущества*/

.flex-element:not(:last-child) {
  margin-right: 30px;

}
.flex-element {
  width: calc((100% - 30px * 3) / 4);
}


.feature-icon  {
  display: flex;
 justify-content: center;
 align-items: center;
  background-color: var(--gray-bgc);
  border: 1px solid transparent;
  border-radius: 4px;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
}


.section-title {
  margin-top: 0px;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.section .section-text {
  max-width: 270px;
  margin-top: 0px;
  margin-bottom: 0px;
  color: var(--secondary-text);
  font-size: 14px;
  line-height: 1.71;
}

/*галерея*/

.gallery h2 {
  margin-top: 0px;
  margin-bottom: 50px;
  padding: 0px 0px;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.work-photo {
  width: calc((100% - 30px * 2) / 3);
}

.work-photo:not(:last-child) {
  margin-right: 30px;
}
.work-photo {
  position: relative;
}

.gallery-text {
  
  font-weight: 700;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--white);
}
.gallery-bgc {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  display: flex;
  justify-content: center;
 align-items: center;
}

/*команда*/

.team-section {background-color: var(--gray-bgc)}
.team-section h2 {
  margin-top: 0px;
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.team .list {
  background-color: var(--white);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
}


.team-box:not(:nth-child(4n)) {
  margin-right: 30px;
}

.team-box {
  width: calc((100% - 30px * 3) / 4);
  background: var(--white);
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
}

.work-desc {
   padding-right: 24px;
  padding-left: 24px;
  padding-bottom: 20px;
  padding-top: 20px;
  text-align: center;

}

.team-pecture {
  padding: 0px 0px;
  margin-top: 0px;
}

.team-name {
  margin-top: 0px;
  margin-bottom: 10px;
}

.team-text {
  margin-top: 0px;
  margin-bottom: 16px;
  color: var(--secondary-text);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
}

.social-icon-list {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.social-icon-item:not(:last-child) {
  margin-right: 10px;
}

.social-icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width:44px;
  height:44px;
  background-color: var(--white);
  fill: var(--social-icon);
  border-radius: 50%;
  transition: background-color 250ms var(--function-animation), fill 250ms var(--function-animation);
  }

  
  
.social-icon-link:hover, 
.social-icon-link:focus, 
.social-icon:hover,
.social-icon:focus {
  background-color: var(--active);
  fill: var(--white);
}

.social-icon {
  width: 20px;
  height: 20px;
  }

/*Постоянные клиенты*/

.clients h2 {
  margin-top: 0px;
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.clients-item:not(:last-child) {
  margin-right: 30px;
}
.clients-item {
  width: calc((100% - 30px * 5) / 6);
}

.clients-link {
 display: flex;
 justify-content: center;
 align-items: center;
 width: 170px;
  height: 90px;
  fill: var(--social-icon);
  border: 1px solid var(--social-icon);
  border-radius: 4px;
  transition: border-color 2000ms cubic-bezier(0.4, 0, 0.2, 1),
  fill 2000ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-item .clients-link:hover .clients-icon,
.clients-item .clients-link:focus .clients-icon,
.clients-item .clients-link:hover,
.clients-item .clients-link:focus {
  border-color: var(--active);
  fill: var(--active);
}





/*футер*/
.footer .container {
  padding: 60px 15px;
  align-items: baseline;
}

.logo-footer{
  margin-bottom: 20px;
}

.logo-footer > span {
  color: var(--active);
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.logo-footer .logo-white {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--white);
}

.logo-max {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  padding-top: 0px;
  padding-bottom: 0px;
}

/*адрес*/

 

.address {
  color: var(--white);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
}

.address .link {
  display: block;
  margin-bottom: 9px;
  margin-top: 9px;
  color: rgba(255, 255, 255, 0.6)
}

.address .link-tel {
  color: rgba(255, 255, 255, 0.6)
}

.footer  {
 background-color: var(--ftr-bcg);
}

.footer .logo-max {
  padding-top: 0;
  padding-bottom: 0;
  margin-right: 0;
}

.footer-box {
  display: inline-block;
   margin-left: 70px;
}

.follow {
display: block;
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--white);
margin-bottom: 20px;
}

.footer-icon-list {
  display: flex;
  justify-content: center;
  align-items: center;
}


.footer-icon-item {
  width: calc((100% - 10px * 3) /4);
}

.footer-icon-item:not(:last-child) {
  margin-right: 10px;
}

.footer-icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width:44px;
  height:44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

.footer-icon-link:hover,
.footer-icon-link:focus {
  background-color: var(--active);
}

.footer-icon-link .footer-icon:hover,
.footer-icon-link .footer-icon:focus  {
fill: var(--white)
}

.footer-icon {
  width: 20px;
  height: 20px;
  fill: var(--white); 
}

.sign {
  margin-left: 93px;
}

.field {
    width: 358px;
    margin-right: 12px;
    padding-left: 16px;
    padding-top: 15px;
    padding-bottom: 15px;
    color: rgba(255, 255, 255, 0.6);
    background: var(--ftr-bcg);
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-form input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-title {
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--white);
  margin-bottom: 20px;
 } 

 .footer-btn {
   position: relative;
   width: 200px;
   height: 50px;
   display: inline-block;
  text-align: center;
  border-color: var(--active);
  border-radius: 4px;
  padding: 10px 29px;
  min-width: 200px;
  border: 1px solid transparent;
  color: var(--white);
  background-color: var(--active);
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  transition: background-color 250ms var(--function-animation);
   }

   .footer-btn > span {
     margin-right: 10px;
   }

   
   .footer-btn:hover,
   .footer-btn:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    background-color: var(--active);
    fill: var(--white);
   }
   
 .footer-btn-icon {
   position: absolute;
   margin-left: 10px;
   top: 30%;
   right: 10%;
   fill: var(--white);
   }
  


/*страница портфолио*/

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.filter-button { 
  display: block;
  border-color: var(--active);
  border-radius: 4px;
  padding: 6px 22px;
  text-align: center;
  border: 1px solid transparent;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  color: var(--primary-text);
  background-color: var(--gray-bgc);
  border-color: var(--gray-bgc);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.filter-item:not(:last-child) {
  margin-right: 8px;
}

.filter-button:hover,
.filter-button:focus {
  color: var(--active);
}

.filter-button:hover {
  background-color: var(--active);
  color: var(--white);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-color: transparent;
  
}

.filter {
  justify-content: center;
  margin-bottom: 50px;
}

.team-name {
  color: var(--primary-text);
}

.portfolio {
  width: calc((100% - 30px * 2) / 3);
  background: #FFFFFF;
  border: 1px solid #EEEEEE;
  box-sizing: border-box;
}

.portfolio-link {
  display: block;
  width: 100%;
  background-color: var(--white);
  box-shadow: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio:not(:nth-child(3n)) {
  margin-right: 30px;
}

.portfolio {
  margin-bottom: 20px;
}

.portfolio:nth-last-child(-n + 3) {
  margin-bottom: 0;
}


.overlay {
  position: relative; 
  overflow: hidden;
}

.portfolio-link:hover .work-desc{
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
}

.portfolio-link:hover .overlay-description {
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(0);
}

.overlay-description {
  position: absolute;
   top: 0;
    left: 0;
    width:100%;
   height: 100%;
   padding: 63px 24px;
    background-color: rgba(33, 150, 243, 0.9);
    transform: translateY(100%);
    transition: transform 250ms var(--function-animation);
}

.overlay-text {
  font-weight: normal;
    font-size: 18px;
    line-height: 1.5;
    color: var(--white);
   
   
}

.portfolio-link .work-desc {
  text-align: left;
}


/* модальное окно*/

.backdrop {
  position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 1;
   visibility: visible}


.backdrop.is-hidden {
opacity: 0;
visibility: hidden;
pointer-events: none;
transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
transform: translate(0%, 0%) scale(0) rotateX(0deg);
}


.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1) rotateY(0deg);
  width: 528px;
  min-height: 581px;
  overflow: hidden;
  background-color: var(--white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: 250ms var(--function-animation);
}

.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.5) rotateY(45deg);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-close {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 0;
  margin: 0;
width: 30px;
height: 30px;
background-color:var(--white);
border: 1px solid rgba(0, 0, 0, 0.1);
border-radius: 50%;
cursor: pointer;
transition: all 250ms var(--function-animation);
}

 .modal-close {
width: 11px;
height: 11px;
}

.btn-close:hover, .btn-close:focus {
  fill: var(--active);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.checkbox-point{
  display:block;

}

.modal-content {
  padding: 40px;
}

.modal-title {
  display: block;
  font-family: Roboto;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  margin-bottom: 12px;
  color: var(--black);
}

.modal-form {
  display: flex;
  flex-direction: column;  
}

.form-box {
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: left;
    margin-bottom: 10px;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: var(--secondary-text);
}

.form-box >span {
  margin-bottom: 4px;
}

.input-form {
    height: 40px;
    padding-left: 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: all 250ms var(--function-animation);
}

.form-icon {
  position: absolute;
    left: 12px;
    bottom: 13px;
   
}
.form-comment {
  resize: none;
    min-height: 120px;
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding: 12px 16px;
    margin-bottom: 20px;
    transition: border 250ms var(--function-animation);
}

.form-comment:hover,
.form-comment:focus {
outline-color: var(--active);
}

.deal-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.deal-text {
  font-family: Roboto;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    }

  .deal-link {
    text-decoration: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    border-bottom: 1px solid var(--active);
    color: var(--active);
  }

  .checkbox {
    position: absolute;
   visibility: hidden;
   clip: rect(0 0 0 0);
   width: 1px;
   height: 1px;
   margin: 1px;
  }
  .chackbox-point{
    position: relative;
  }

  .deal-icon {
    position: absolute;
    background-image: url(../img/icons/square.svg);
    background-repeat: no-repeat;
    background-position: center;
    height: 16px;
    width: 15px;
    left: 43px;
  }

  .checkbox:checked + .deal-icon {
    background-image: url(../img/icons/checkbox.svg);
    fill: var(--white);
    background-color: var(--active);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: background-color 250ms var(--function-animation),
    fill 250ms var(--function-animation);
  }

.input-form:focus {
  outline-color: var(--active);
  transition-property: border 250ms var(--function-animation);
}
 
.input-form:focus + .form-icon {
fill: var(--active);
transition-property: border 250ms var(--function-animation); 
}

.primary-button.btn {
  padding: 10px 55px 10px 56px;
}

.button {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.btn:hover,
.btn:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: 250ms var(--function-animation);
}

